{
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },
  "overrides": [
    {
      "files": [
        "**/*.test.ts",
        "**/*.test.tsx"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "prettier",
    "tailwindcss",
    "jsx-a11y",
    "promise",
    "import",
    "unicorn",
    "testing-library",
    "react-refresh"
  ],
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "standard-with-typescript",
    "plugin:prettier/recommended",
    // "plugin:@typescript-eslint/recommended", //! Conflict with standard-with-typescript
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:unicorn/recommended",
    "plugin:security/recommended",
    "plugin:promise/recommended",
    "plugin:import/recommended",
    "plugin:n/recommended",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": "off",
    "n/no-missing-import": "off",
    "n/no-extraneous-import": ["error", {
      "allowModules": ["next-auth"]
  }],
    "no-unused-vars": "warn",
    "no-unused-expressions": [
      "error",
      {
        "allowTernary": true
      }
    ],
    "jsx-a11y/anchor-is-valid": "warn",
    "prettier/prettier": "warn",
    "promise/catch-or-return": "error",
    "promise/no-new-statics": "error",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/avoid-new": "warn",
    "promise/no-callback-in-promise": "warn",
    "promise/no-nesting": "warn",
    "promise/no-promise-in-callback": "warn",
    "promise/no-return-in-finally": "warn",
    "promise/valid-params": "warn",
    "promise/always-return": "off",
    "promise/no-native": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react-refresh/only-export-components": "off",
    "testing-library/await-async-queries": "error",
    "testing-library/no-await-sync-queries": "error",
    "testing-library/no-debugging-utils": "warn",
    "testing-library/no-dom-import": "off",
    "unicorn/expiring-todo-comments": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-useless-undefined": "warn",
    "unicorn/prevent-abbreviations": "warn",
    "unicorn/no-negated-condition": "off"
  }
}