## Modules and libraries 
node_modules/
dist/
.next/
.husky/

## Environment
src/vite-env.d.ts
env.d.ts

## Linter / Formatter
.prettierrc
.eslintrc
.stylelintrc

## Config files
tailwind.config.js
postcss.config.js
next.config.js
commitlint.config.js

## Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock

*.md
*.yml
*.yaml
*.log